<div class="flex items-center mt-4">
    <p class="text-lg mb-1">{{comment.author.name}} said: {{comment.body}}</p>

    <div class="">
        @if (hasPermission) {
        <button (click)="deleteComment()" class="ml-8 p-2 bg-red-600 hover:bg-red-400 rounded-lg">Delete</button>
        }
    </div>
</div>

<div class="mt-4">
    <div class="border-l-2 pl-2">
        @if (comment.comments && comment.comments.length > 0 && !comment.removed) {
        <div class="mt-4">
            <app-comment-add [type]="'reply'" [topic]="topic" [comment]="comment"></app-comment-add>
        </div>
        @for (comment of comment.comments; track $index) {
        <app-comment [topic]="topic" [comment]="comment" [depth]="depth + 1"></app-comment>
        }
        }
        @else {
        <app-comment-add [type]="'reply'" [topic]="topic" [comment]="comment"></app-comment-add>
        }
    </div>
</div>